<div>
  <form action="/favourites" method="POST">
  <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg w-full hover:bg-blue-600 transition">Add to Favorites</button>
  <input type="hidden" name="id" value="<%= home._id %>">
  </form>
</div>