@import "tailwindcss";

@theme {
  --color-primary-500: #ff385c;
  --color-primary-600: #d90b34;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  @apply bg-gray-50 text-gray-900;
}
